#navbar {
    height:60px;
    width:100%;
    background-color: ghostwhite;

}
#product-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    border-spacing: 10px;

}
.tableinfo {
    border: 2px solid black;
    border-collapse: collapse;
    color:white;
    font-size: 40px;
    -webkit-text-stroke: 2px black;
    height: 150px;
    width: 150px;
}
#body {
    background-image: url('Pictures/background.jpg');
}
#home ,a {
    font-size: 40px;
}
#navt ,a {
    margin-left: auto;
}
.tableinfo ,a {
    color: deepskyblue;
    -webkit-text-stroke: 2px black;
    height: 300px;
    width: 300px;
}
#home {
    color: brown;
    padding-right: 50px;
}
#products {
    color: brown;
    padding-right: 50px;
}
#sign-in {
    color: brown;
    padding-right: 50px;
}
#sign-up {
    color: brown;
    padding-right: 50px;
}

#footer {
    background-color: ghostwhite;
    bottom: 0;
}
a, a:hover, a:visited{
    text-decoration: none;
}
#footert {
    width: 100%;
    height: 75px;
    color: white;
    text-align: center;
    background: ghostwhite;
    clear: both;
    bottom:0px;
    font-size: 20px;
}
#product0 {
    border: 2px solid black;
    border-collapse: collapse;
    background: white;
    font-size: 40px;
    -webkit-text-stroke: 2px black;
    height: 100px;
    width: 100px;
    color: sandybrown;
}
#product1 {
    background-image: url('Pictures/keyboard.jpg');
}
#product2 {
    background-image: url('Pictures/mouse.jpg');
}
#product3 {
    background-image: url('Pictures/headset.jpg');
}
#product4 {
    background-image: url('Pictures/speaker.jpg');
}
#product5 {
    background-image: url('Pictures/webcam.jpg');
}
#product6 {
    background-image: url('Pictures/monitor.jpg');
}
#product7 {
    background-image: url('Pictures/powersupply.jpg');
}
#product8 {
    background-image: url('Pictures/harddrive.jpg');
}
#product9 {
    background-image: url('Pictures/cable.jpg');
}
#product10 {
    background-image: url('Pictures/videocard.jpg');
}
